
/* Global settings */
html 
  font-family: "PT Sans", Helvetica, Arial, sans-serif

@media (min-width: 48em) 
  html
    font-size: 16px
  

@media (min-width: 58em)
  html 
    font-size: 20px
  
/* The navigation bar */
nav 
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  width: 100%
  height: 35px

  ul
    list-style: none
    margin: 0
    padding: .2em 2em
    float: right

    li
      display: inline-block
      margin: 0
      padding: .2em .7em

/* The landing page */
.landing
  position: relative
  width: 100%
  height: 500px
  background: rgb(50, 50, 50)
  background: url(https://doninmass.files.wordpress.com/2013/04/walking-in-rain-painting-wallpaper-hd.jpg) no-repeat 50% 50% fixed
  background-size: 130%
  overflow: hidden

  h1
    position: absolute
    top: 50%
    left: 0
    width: 100%
    padding: .3em
    font-size: 3em
    font-weight: lighter